body {
	/* background-image: url('Bilder/Erde001.png'); */
	background-color:#f0768b;
	background-size: 80px auto;
	max-width: 100%;
	overflow-x: hidden;
}
h1 {
        color: #ffffff;
}
h3 {
        color: #ffffff;
}
h4 {
        color: #ffffff;
}
.schnee {
        background-image: url('../Bilder/Schnee001.png');
        background-size: auto 90px;
        position: relative;
        border: 95px;
        display: inline-block;
	hight: 20px;
	width: auto;
        padding: 45px 50%;
}
.navbar {
        background-image: url('../Bilder/Schneelandschaft001+002+003+004.png.jpg');
        background-size: cover;
		background-repeat: no-repeat;
        color: white;
}
.navbar-brand {
        color: white;
}
		
.navbar-nav .nav-link {
	font-weight: bold;
	font-size: 25px;
}
p {
	font-weight: bold;
        color: #ffffff;
}
@keyframes alpaka-animation {
	0% { left: -100px; }
	100% { left: 100%; }
}
.alpaka-container {
        position: absolute;
        z-index: -1;
        animation: alpaka-animation 60s linear infinite;
}
.alpaka-container video {
	object-fit: contain;
}
@media (max-width: 600px) {
	width: 100%;
}
.alpaka-container video {
	width: 70%;
}
.navbar {
	z-index: 6;
	position: relative;
}
.container {
	z-index: 6;
	position: relative;
	width: 100%;
}
li {
        color: #ffffff;
}
a {
        color: #c0c0c0;
}
.door {
    width: 100px; 
    height: 100px; 
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 100px; 
    cursor: pointer;
    background-color: #f0768b;
    color: black;
	font-weight: bold;
	font-size: 50px; 
    background-image: url('../Bilder/Advent.jpeg'); 
    background-size: cover; 
}
#question {
    color: black;
}
.modal-content {
    background-color: #f8f8f8; /* Ändern Sie die Hintergrundfarbe des Modals */
    border: 2px solid #5c5c5c; /* Fügen Sie einen Rand hinzu */
    border-radius: 10px; /* Runden Sie die Ecken ab */
}

.modal-header {
    background-color: #c0c0c0; /* Ändern Sie die Hintergrundfarbe des Modal-Headers */
    color: #000000; /* Ändern Sie die Textfarbe */
}

.modal-body {
    color: #000000; /* Ändern Sie die Textfarbe im Modal-Body */
}

.modal-footer {
    background-color: #c0c0c0; /* Ändern Sie die Hintergrundfarbe des Modal-Footers */
}
